@model Gyanisa.Models.Course
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Dashboard/_Layout1.cshtml";
}

<h2>Details</h2>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
