@model IEnumerable<Gyanisa.Models.Blog.Post>
@{

    ViewBag.Title = "Most Trusted Blog on Education, Career & Money in India";
    ViewBag.Keywords = "make money,online money,earn money online,extra money";
    ViewBag.Description = "Tution Er largest is one of the personal finance website in India,  looking to make and save extra money online, career & education tips.";
    ViewBag.Abstract = "You want to from to make money, want to grow your career or looking education tips, find only on TutionEr, India's largest blog on money, career & edu";
    int no = 0;
    int no2 = 0;
    var image_path = "";
}

<!-- Header #homepage --> @*background-image: url(images/hero_2.jpg);*@


<div class="site-blocks-cover overlay" style="background-color:#a2c3da;" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-md-8">
                <div class="row justify-content-center"  style="margin-top:30px;">
                    <div class="text-left">
                        <h1 class="col-md-12 text-left font-weight-bold">Want to learn the new Ways to   <span class="text-primary">Earn Money </span> Online </h1>
                        <p class="text-white">
                            &nbsp;&larr; earn money anywhere.Make Money from anyone.
                        </p>
                    </div>
                </div>
                <div class="form-search-wrap">
                    <form id="search_form" method="get" asp-controller="" asp-action="" accept-charset="utf-8">
                        <div class="row align-items-center">
                            <div class="col-lg-8 mb-4 mb-xl-0 col-xl-4">
                                <input id="GetFreeTop" class="form-control rounded" name="FirstName" placeholder="First Name" />
                            </div>
                            <div class="col-lg-8 mb-4 mb-xl-0 col-xl-4">
                                <input id="GetFreeTop" class="form-control rounded" name="EmailRequired" placeholder="Your Email" />
                            </div>

                            <div class="col-lg-8 mb-4 mb-xl-0 col-xl-4">
                                <input type="submit" class="btn btn-primary text-white btn-block rounded" value="GET 7 FREE TIPS | NOW">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="overlap-category mb-5">
            <div class="row align-items-stretch no-gutters">
                <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="" target="_blank" class="popular-category h-100">
                        <span class="icon"><span class="flaticon-house"></span></span>
                        <span class="caption mb-2 d-block">Start a Blog</span>
                        <span class="number">3,921</span>
                    </a>
                </div>


                @{ 
                    @*var rr1 = Model.Select(t=>t.postGroup.PostGroupName).Distinct().Take(5);
                    foreach (var item in rr1)
                    {
                                <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                                    <a href="" target="_blank" class="popular-category h-100">
                                        <span class="icon"><span class="flaticon-books"></span></span>
                                        <span class="caption mb-2 d-block">@item</span>
                                        <span class="number">398</span>
                                    </a>
                                </div>
                    }*@
                }



                @*
                <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="/local-classes/girl" class="popular-category h-100">
                        <span class="icon"><span class="flaticon-bunk-bed"></span></span>
                        <span class="caption mb-2 d-block">Educatoin</span>
                        <span class="number">1,229</span>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="/local-classes/cbse" class="popular-category h-100">
                        <span class="icon"><span class="flaticon-innovation"></span></span>
                        <span class="caption mb-2 d-block">Writing Jobs</span>
                        <span class="number">32,891</span>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="/local-classes/Languages" class="popular-category h-100">
                        <span class="icon"><span class="flaticon-car"></span></span>
                        <span class="caption mb-2 d-block">Affiliate Marketing Beginner’s Guide</span>
                        <span class="number">29,221</span>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="/local-classes/Languages" class="popular-category h-100">
                        <span class="icon"><span class="flaticon-pizza"></span></span>
                        <span class="caption mb-2 d-block">Career Tips</span>
                        <span class="number">219</span>
                    </a>
                </div>*@
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="h5 mb-4 text-black">Trading Now</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12  block-13">
                <div class="owl-carousel nonloop-block-13">
                    @foreach (var item in Model)
                    {
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            image_path = $"/BlogImage/{item.Image}";
                        }
                        else
                        {
                            image_path = $"/BlogImage/empty_blog.jpg";
                        }
                        <div class="d-block d-md-flex listing vertical">
                            <a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank" class="img d-block" style="background-image: url('@image_path')"></a>
                            <div class="lh-content">
                                <span class="category">@item.postGroup.PostGroupName</span>
                                <a id="bookmark-this" href="#" class="bookmark"><span class="icon-money"></span></a>
                                <h3><a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">   @item.Title</a></h3>
                                <address>  @item.Metaabstract </address>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<div class="site-section" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light ">
                    You Want Earn
                    Make Money
                    <span class="text-primary">Fast</span>

                </h2>
                <p class="color-black">you’re in urgent need of money & want to earn immediately</p>
            </div>
        </div>


        <div class="row">
            <style>
                .b-0 {
                    bottom: 0;
                }

                .bg-shadow {
                    background: rgba(76, 76, 76, 0);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
                    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
                }

                .top-indicator {
                    right: 0;
                    top: 1rem;
                    bottom: inherit;
                    left: inherit;
                    margin-right: 1rem;
                }

                .overflow {
                    position: relative;
                    overflow: hidden;
                }

                .zoom img {
                    transition: all 0.2s linear;
                }

                .zoom:hover img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            </style>
            <div class="col-12 pb-5">
                <!--SECTION START-->
                <section class="row">
                    <!--Start slider news-->
                    <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
                        <div id="featured" class="carousel slide carousel" data-ride="carousel">
                            <!--dots navigate-->
                            <ol class="carousel-indicators top-indicator">
                                <li data-target="#featured" data-slide-to="0" class="active"></li>
                                <li data-target="#featured" data-slide-to="1"></li>
                                <li data-target="#featured" data-slide-to="2"></li>
                                <li data-target="#featured" data-slide-to="3"></li>
                            </ol>

                            <!--carousel inner-->
                            <div class="carousel-inner">
                                <!--Item slider-->

                                @foreach (var item in Model)
                                {

                                    if (no == 0)
                                    {
                                        <div class="carousel-item active">
                                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                                <div class="position-relative">
                                                    <!--thumbnail img-->
                                                    <div class="ratio_left-cover-1 image-wrapper">
                                                        <a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">

                                                            @if (!string.IsNullOrEmpty(item.Image))
                                                            {
                                                                 image_path = $"/BlogImage/{item.Image}";

                                                                <img class="img-fluid w-100"
                                                                     src="@image_path"
                                                                     alt="@item.Title">
                                                            }
                                                            else
                                                            {
                                                                <img class="img-fluid w-100"
                                                                     src="../BlogImage/empty_blog.jpg"
                                                                     alt="@item.Title">
                                                            }


                                                        </a>
                                                    </div>
                                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                        <!--title-->
                                                        <a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">
                                                            <h2 class="h3 post-title text-white my-1">@item.Title</h2>
                                                        </a>
                                                        <!-- meta title -->
                                                        <div class="news-meta">
                                                            <span class="news-author">by <a class="text-white font-weight-bold" href="">Tution Er</a></span>
                                                            <span class="news-date">@item.Created.ToString("dddd, dd MMMM yyyy")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    { <!--Item slider-->
                                        <div class="carousel-item">
                                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                                <div class="position-relative">
                                                    <!--thumbnail img-->
                                                    <div class="ratio_left-cover-1 image-wrapper">
                                                        <a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">

                                                            @if (!string.IsNullOrEmpty(item.Image))
                                                            {
                                                                image_path = $"/BlogImage/{item.Image}";

                                                                <img class="img-fluid w-100"
                                                                     src="@image_path"
                                                                     alt="@item.Title">
                                                            }
                                                            else
                                                            {
                                                                <img class="img-fluid w-100"
                                                                     src="../BlogImage/empty_blog.jpg"
                                                                     alt="@item.Title">
                                                            }
                                                        </a>
                                                    </div>
                                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                        <!--title-->
                                                        <a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">
                                                            <h2 class="h3 post-title text-white my-1">@item.Title</h2>
                                                        </a>
                                                        <!-- meta title -->
                                                        <div class="news-meta">
                                                            <span class="news-author">by <a class="text-white font-weight-bold" asp-controller="home" asp-action="about" target="_blank">Tution  <span class="text-primary"> ER </span> </a></span>
                                                            <span class="news-date">@item.Created.ToString("dddd, dd MMMM yyyy")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    no++;
                                }

                                <!--end item slider-->
                            </div>
                            <!--end carousel inner-->
                        </div>

                        <!--navigation-->
                        <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End slider news-->
                    <!--Start box news-->
                    <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
                        <div class="row">
                            <!--news box-->
                            @foreach (var item in Model)
                            {
                                 image_path = $"/BlogImage/{item.Image}";
                                @if (!string.IsNullOrEmpty(image_path))
                                {
                                    image_path = "/BlogImage/empty_blog.jpg";

                                }
                                if (no2 == 0)
                                {

                                    <div class="col-6 pb-1 pt-0 pr-1">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="listing-item">
                                                <div class="listing-image">
                                                    <img src="@image_path" alt="@item.Title" class="img-fluid">
                                                </div>
                                                <div class="listing-item-content">
                                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                    <a class="px-3 mb-3 category" href="#">@item.postGroup.PostGroupName</a>
                                                    <h2 class="mb-1"><a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">@item.Title</a></h2>
                                                    @*  <span class="address">Udaipur, Rajasthan</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (no2 == 1)
                                {
                                    <div class="col-6 pb-1 pl-1 pt-0">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="listing-item">
                                                <div class="listing-image">
                                                    <img src="@image_path" alt="@item.Title" class="img-fluid">
                                                </div>
                                                <div class="listing-item-content">
                                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                    <a class="px-3 mb-3 category" href="#">@item.postGroup.PostGroupName</a>
                                                    <h2 class="mb-1"><a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">@item.Title</a></h2>
                                                    @*  <span class="address">Udaipur, Rajasthan</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (no2 == 2)
                                {
                                    <div class="col-6 pb-1 pr-1 pt-1">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="listing-item">
                                                <div class="listing-image">
                                                    <img src="@image_path" alt="@item.Title" class="img-fluid">
                                                </div>
                                                <div class="listing-item-content">
                                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                    <a class="px-3 mb-3 category" href="#">@item.postGroup.PostGroupName</a>
                                                    <h2 class="mb-1"><a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">@item.Title</a></h2>
                                                    @*  <span class="address">Udaipur, Rajasthan</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (no2 == 3)
                                {
                                    <div class="col-6 pb-1 pl-1 pt-1">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="listing-item">
                                                <div class="listing-image">
                                                    <img src="@image_path" alt="@item.Title" class="img-fluid">
                                                </div>
                                                <div class="listing-item-content">
                                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                    <a class="px-3 mb-3 category" href="#">@item.postGroup.PostGroupName</a>
                                                    <h2 class="mb-1"><a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))" target="_blank">@item.Title</a></h2>
                                                    @*  <span class="address">Udaipur, Rajasthan</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                no2++;
                            }

                            <!--end news box-->
                        </div>
                    </div>
                    <!--End box news-->
                </section>
                <!--END SECTION-->
            </div>
        </div>


    </div>
</div>




<section class="section-ptb bg-white bg-5 ">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <div class="heading mb-80">
                    <h2>What is Tution Er.</h2>
                    <p class="mb-20">understand about online income. <br class="d-none d-md-block"> a Lorem Ipsum passage, and going</p>
                    <hr class="line bw-2 mx-auto line-sm mb-5">
                    <hr class="line bw-2 mx-auto">
                </div>
            </div>
        </div>
        @*
        <div class="row">
            <div class="col-12">
                <div class="client-testimonial position-relative">
                    <div class="client-nav">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#client1" data-toggle="tab">
                                    <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/1.png" alt="Client Image">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#client2" data-toggle="tab">
                                    <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/2.png" alt="Client Image">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#client3" data-toggle="tab">
                                    <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/3.png" alt="Client Image">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#client4" data-toggle="tab">
                                    <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/4.png" alt="Client Image">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#client5" data-toggle="tab">
                                    <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/5.png" alt="Client Image">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row text-center">
                        <div class="col-10 col-md-8 col-lg-6 mx-auto">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="client1">
                                    <div class="client-thumb mx-auto mb-25">
                                        <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/1.png" alt="Client Image">
                                    </div>
                                    <div class="client-desc bg-white d-flex align-items-center">
                                        <div class="text mx-auto">
                                            <h4 class="mb-10">Evelyn Riley</h4>
                                            <h6>Hade Of Idea</h6>
                                            <p>Richard McClintock, a Latin professor at Hampden <br class="d-none d-lg-block">College in Virginia, looked up one of the more obscure Latin words</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Client End -->
                                <div class="tab-pane fade" id="client2">
                                    <div class="client-thumb mx-auto mb-25">
                                        <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/2.png" alt="Client Image">
                                    </div>
                                    <div class="client-desc bg-white d-flex align-items-center">
                                        <div class="text mx-auto">
                                            <h4 class="mb-10">Ethan Green</h4>
                                            <h6>Photograper</h6>
                                            <p>Many desktop publishing packages and web page editors <br class="d-none d-lg-block"> now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Client End -->
                                <div class="tab-pane fade" id="client3">
                                    <div class="client-thumb mx-auto mb-25">
                                        <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/3.png" alt="Client Image">
                                    </div>
                                    <div class="client-desc bg-white d-flex align-items-center">
                                        <div class="text mx-auto">
                                            <h4 class="mb-10">Marie Soto</h4>
                                            <h6>Designer</h6>
                                            <p>Virginia, looked up one of the more obscure Latin <br class="d-none d-lg-block"> words, consectetur, from a Lorem Ipsum passage, and going through the cites of looked</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Client End -->
                                <div class="tab-pane fade" id="client4">
                                    <div class="client-thumb mx-auto mb-25">
                                        <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/4.png" alt="Client Image">
                                    </div>
                                    <div class="client-desc bg-white d-flex align-items-center">
                                        <div class="text mx-auto">
                                            <h4 class="mb-10">Willie Munoz</h4>
                                            <h6>Content Writer</h6>
                                            <p>Words which don't look even slightly believable. <br class="d-none d-lg-block">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Client End -->
                                <div class="tab-pane fade" id="client5">
                                    <div class="client-thumb mx-auto mb-25">
                                        <img class="drop-shadow" src="http://regaltheme.com/tf/multi/rnr/assets/img/client/thumb/5.png" alt="Client Image">
                                    </div>
                                    <div class="client-desc bg-white d-flex align-items-center">
                                        <div class="text mx-auto">
                                            <h4 class="mb-10">Susan Gardner</h4>
                                            <h6>Manager</h6>
                                            <p>The point of using Lorem Ipsum is that it has a more <br class="d-none d-lg-block"> normal distribution of letters, as opposed to using 'Content here, content here point of using</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Client End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        *@
    </div>
</section>

<div class="site-section" data-aos="fade">
    <div class="container">
        <div class="row justify-content-lg-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light ">
                    <span class="text-primary"> Money </span> Management
                </h2>
                @* <p class="color-black">you’re in urgent need of money & want to earn immediately</p>*@
            </div>
        </div>
    </div>
</div>

<div class="home_tutoring">
    <div class="main_wrapper">
        <div class="inner_wrapper">
            @foreach (var item in Model)
            {
                image_path = $"/BlogImage/{item.Image}";
                @if (!string.IsNullOrEmpty(image_path))
                {
                    image_path = "/BlogImage/empty_blog.jpg";
                }
                <ul style="flex:0 0 230px; margin-right:5px;">
                    <li>
                        <div class="listing-item">
                            <div class="listing-image">
                                <img src="@image_path" alt="@item.Title" class="img-fluid">
                            </div>
                            <div class="listing-item-content">
                                @*<a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <a class="px-3 mb-3 category" href="#">IIM</a>*@
                                <h2 class="mb-1"><a href="@(Url.Action("Details", "Posts", new { id = item.Id,Title=item.Slug }))">@item.Title</a></h2>
                                @*<span class="address">Udaipur, Rajasthan</span>*@
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>

@*@await Component.InvokeAsync("TradingToday")*@
@*@await Component.InvokeAsync("Blog")*@

